@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600&display=swap");
@font-face {
  font-family: Mainfont;
  src: url(../Font/AirbnbCereal-Light.ttf);
}
@font-face {
  font-family: Mainfont-bold;
  src: url(../Font/AirbnbCereal-ExtraBold.ttf);
}
